<ion-content class="ion-padding">
  <h1>Welcome to AA</h1>
  <p>Select Sensors option in the menu to continue</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>
    Donec convallis ut elit non porttitor. Curabitur nec leo a mauris molestie varius sed eget est.<br/>
    Curabitur in sem sit amet diam porta luctus. Pellentesque ligula purus, viverra non pulvinar eu, elementum quis
    justo.<br/>
    Suspendisse quis tortor finibus velit pharetra porta. Phasellus ut mauris eget nibh posuere varius.<br/>
    Nullam tristique est ut ligula elementum, feugiat gravida orci mattis. Nunc eu sem vitae nunc lacinia rhoncus.<br/>
    Nam vel quam et quam sollicitudin suscipit. Praesent consequat justo nec lacus hendrerit euismod.<br/>
    Sed augue dolor, egestas sagittis ultricies id, scelerisque id enim. Nunc tempus aliquam velit sed venenatis.<br/>
    Fusce vel eros aliquam, pretium neque quis, auctor ligula. Fusce tempus sem vel odio ultricies accumsan ut ac nisi.<br/>
    In hac habitasse platea dictumst. Proin aliquam turpis vel aliquam imperdiet.
  </p>
</ion-content>