<ion-header>
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Welcome to Smart Thermostat</h1>

  <ion-card color="tertiary">
    <ion-card-content>
      Introducing our cutting-edge home assistant add-on that will revolutionize the way you control your smart
      thermostat. <br />
      Powered by advanced artificial intelligence, <br />
      this innovative solution seamlessly integrates with your existing smart home system, <br />
      providing you with unparalleled convenience and comfort.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>How does it work?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Start by adding sensors and assigning a type.<br />
      After this the system will automatically start learning your habits and preferences<br />
      and it will create automation('s) bases on these.<br />
      <br />
      After the automation's are created you need to grade them and the system will<br />
      add the accepted automation('s) to Home Assistant.<br />
    </ion-card-content>
  </ion-card>
  
</ion-content>